<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adamo.cookster">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:name="com.example.adamo.cooksterapp.App"
        android:icon="@drawable/logo"
        android:label="CookSter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.adamo.cooksterapp.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="CookSter"
            android:theme="@style/AppTheme.NoActionBar"           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.adamo.cooksterapp.ProductsActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.MainActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.EmployeesActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.SettingsActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.DishActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.OrdersCookActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.OrderCookAddActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.example.adamo.cooksterapp.OrderWaiterAddActivity"
            android:theme="@style/AppFullScreenTheme" />
    </application>

</manifest>